<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>BACC43CC-7F6F-4567-B707-C4C1B788C765</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E46295BD-DA45-423D-AC25-C9A9066D8C9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matthieu</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E46295BD-DA45-423D-AC25-C9A9066D8C9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"inss","arg":"https:\/\/github.com\/inshteam\/Inshallah-Server\/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc","subtitle":"Inshallah-Server"},{"title":"insa","arg":"https:\/\/github.com\/inshteam\/Inshallah-App\/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc","subtitle":"Inshallah-App"},{"title":"insi","arg":"https:\/\/github.com\/inshteam\/Inshallah-Infra","subtitle":"Inshallah-Infra"},{"title":"rnt","arg":"https:\/\/github.com\/bamlab\/react-native-testing","subtitle":"React Native Testing"}]</string>
				<key>keyword</key>
				<string>g</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>BACC43CC-7F6F-4567-B707-C4C1B788C765</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>BACC43CC-7F6F-4567-B707-C4C1B788C765</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>E46295BD-DA45-423D-AC25-C9A9066D8C9B</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
