<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>07C4DE47-772E-4DE8-A016-843BAB7BEAD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>509C22C6-E9D8-4E0C-BEFC-35641689C72C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D1952ACF-BFD0-4481-8B80-F2F38B46F223</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5C6D5F11-A78A-4D91-B001-A4152AE59978</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CFC68922-87C1-4E0F-B50A-20159E90F5A7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0A722712-8FD9-4423-9810-A001011694E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C47C5DE-415D-4CCE-BA80-CCBFA05D7A39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1745DEBC-F58A-432A-82D8-5D7AF66C538C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C339811-E326-4DC7-96D7-985F3A6DAF73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1BA918B4-938A-447D-ACD5-7DD35CC48CF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70B21AF6-DE42-468F-99AE-36849A79D06E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E4C510B-0AA8-4A6B-BB93-5E5E481BEA0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F89FD8D-8DEF-4270-9AA4-65B8B52FFC96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AFF2D85-2374-4D39-9FA4-7AB94A0816EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E4C510B-0AA8-4A6B-BB93-5E5E481BEA0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CA3E57B-EDE0-4B5F-B8E4-C7007F147525</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA551240-C986-4C1A-9771-F4B9B4D61C86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E38D40F-5332-42CD-B968-3BC94D88D147</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07C4DE47-772E-4DE8-A016-843BAB7BEAD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F89FD8D-8DEF-4270-9AA4-65B8B52FFC96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A722712-8FD9-4423-9810-A001011694E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>509C22C6-E9D8-4E0C-BEFC-35641689C72C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB70DC84-2238-41B7-9F7C-72472917597A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56780FF5-2A43-4A5F-86DF-2EF65F651A82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E75E7071-9586-4DA6-8C84-8CD41A411A96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C6D5F11-A78A-4D91-B001-A4152AE59978</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF19F1BF-7A92-4B84-A006-D82F70A67A8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D9478B2-930F-4718-A388-2A6EFB3A730E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>781EB98D-6C9B-451D-9CD7-4A7CD5871810</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70B21AF6-DE42-468F-99AE-36849A79D06E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D9478B2-930F-4718-A388-2A6EFB3A730E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E3FDF18-C04F-45A7-816A-C328D08046D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AFF2D85-2374-4D39-9FA4-7AB94A0816EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C339811-E326-4DC7-96D7-985F3A6DAF73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F71E4CC1-FB84-4274-A3CF-AF97F7B124E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C47C5DE-415D-4CCE-BA80-CCBFA05D7A39</key>
		<array/>
		<key>AC404BAC-E7DB-4FAC-AF0E-BFC18A1484F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5932703-4E5A-40E6-B7A9-237F70989335</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA551240-C986-4C1A-9771-F4B9B4D61C86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E3FDF18-C04F-45A7-816A-C328D08046D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5932703-4E5A-40E6-B7A9-237F70989335</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BDFA773-F12E-4E61-95B4-835D2EAA1B03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D1952ACF-BFD0-4481-8B80-F2F38B46F223</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>94BC17BC-6786-426E-8A7D-76728236C34A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CFC68922-87C1-4E0F-B50A-20159E90F5A7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E75E7071-9586-4DA6-8C84-8CD41A411A96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BA918B4-938A-447D-ACD5-7DD35CC48CF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF19F1BF-7A92-4B84-A006-D82F70A67A8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC514BE3-1E46-46CF-8997-89C03C421CAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F71E4CC1-FB84-4274-A3CF-AF97F7B124E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CA3E57B-EDE0-4B5F-B8E4-C7007F147525</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB70DC84-2238-41B7-9F7C-72472917597A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1745DEBC-F58A-432A-82D8-5D7AF66C538C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC514BE3-1E46-46CF-8997-89C03C421CAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56780FF5-2A43-4A5F-86DF-2EF65F651A82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matthieu</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dev</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>~/projects/inshallah/InshAllah-App</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>0A722712-8FD9-4423-9810-A001011694E1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Xcode.app/Contents/Developer/Applications/Simulator.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>2AFF2D85-2374-4D39-9FA4-7AB94A0816EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
    tell application "System Events" to keystroke "\"" using option down
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>1E4C510B-0AA8-4A6B-BB93-5E5E481BEA0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
    tell application "System Events" to keystroke "\"" using option down
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>9C47C5DE-415D-4CCE-BA80-CCBFA05D7A39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
    tell application "System Events" to keystroke "'" using option down
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>BA551240-C986-4C1A-9771-F4B9B4D61C86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
    tell application "System Events" to keystroke "é" using option down
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>8C339811-E326-4DC7-96D7-985F3A6DAF73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>ins
ys</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>1745DEBC-F58A-432A-82D8-5D7AF66C538C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/React Native Debugger.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>4CA3E57B-EDE0-4B5F-B8E4-C7007F147525</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>t</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>FB70DC84-2238-41B7-9F7C-72472917597A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>509C22C6-E9D8-4E0C-BEFC-35641689C72C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>4F89FD8D-8DEF-4270-9AA4-65B8B52FFC96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>7E3FDF18-C04F-45A7-816A-C328D08046D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>F71E4CC1-FB84-4274-A3CF-AF97F7B124E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"insa","arg":"insa","subtitle":"Inshallah-App"},{"title":"inss","arg":"inss","subtitle":"InshAllah-Server"}]</string>
				<key>keyword</key>
				<string>dev</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Setup dev environment</string>
				<key>title</key>
				<string>Dev &lt;shortcut&gt;</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>4E38D40F-5332-42CD-B968-3BC94D88D147</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>insa</string>
						<key>outputlabel</key>
						<string>insa</string>
						<key>uid</key>
						<string>D1952ACF-BFD0-4481-8B80-F2F38B46F223</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>inss</string>
						<key>outputlabel</key>
						<string>inss</string>
						<key>uid</key>
						<string>CFC68922-87C1-4E0F-B50A-20159E90F5A7</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>07C4DE47-772E-4DE8-A016-843BAB7BEAD8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
    tell application "System Events" to keystroke "é" using option down
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>1BA918B4-938A-447D-ACD5-7DD35CC48CF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>d</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>56780FF5-2A43-4A5F-86DF-2EF65F651A82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>~/projects/inshallah/InshAllah-Server</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>5D9478B2-930F-4718-A388-2A6EFB3A730E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>inss
docker-compose -f docker-compose.dev.yml up --force-recreate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>E75E7071-9586-4DA6-8C84-8CD41A411A96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
    tell application "System Events" to keystroke "\"" using option down
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>781EB98D-6C9B-451D-9CD7-4A7CD5871810</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>inss
ys</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>FC514BE3-1E46-46CF-8997-89C03C421CAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>t</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>EF19F1BF-7A92-4B84-A006-D82F70A67A8E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>5C6D5F11-A78A-4D91-B001-A4152AE59978</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>70B21AF6-DE42-468F-99AE-36849A79D06E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
   tell application "Simulator.app"
       quit
   end tell
   tell application "React Native Debugger.app"
       quit
   end tell
   tell application "Visual Studio Code.app"
       quit
   end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>9BDFA773-F12E-4E61-95B4-835D2EAA1B03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"insa","arg":"insa","subtitle":"Inshallah-App"},{"title":"inss","arg":"inss","subtitle":"Inshallah-Server"}]</string>
				<key>keyword</key>
				<string>quitd</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Quit all apps related to &lt;env&gt;</string>
				<key>title</key>
				<string>Quit dev &lt;env&gt;</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>AC404BAC-E7DB-4FAC-AF0E-BFC18A1484F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>insa</string>
						<key>outputlabel</key>
						<string>insa</string>
						<key>uid</key>
						<string>D1952ACF-BFD0-4481-8B80-F2F38B46F223</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>inss</string>
						<key>outputlabel</key>
						<string>inss</string>
						<key>uid</key>
						<string>CFC68922-87C1-4E0F-B50A-20159E90F5A7</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E5932703-4E5A-40E6-B7A9-237F70989335</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
   tell application "Insomnia.app"
       quit
   end tell
   tell application "Visual Studio Code.app"
       quit
   end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>94BC17BC-6786-426E-8A7D-76728236C34A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07C4DE47-772E-4DE8-A016-843BAB7BEAD8</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>0A722712-8FD9-4423-9810-A001011694E1</key>
		<dict>
			<key>xpos</key>
			<integer>2055</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>1745DEBC-F58A-432A-82D8-5D7AF66C538C</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>1BA918B4-938A-447D-ACD5-7DD35CC48CF8</key>
		<dict>
			<key>xpos</key>
			<integer>1220</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>1E4C510B-0AA8-4A6B-BB93-5E5E481BEA0D</key>
		<dict>
			<key>xpos</key>
			<integer>1810</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>2AFF2D85-2374-4D39-9FA4-7AB94A0816EE</key>
		<dict>
			<key>xpos</key>
			<integer>1625</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>4CA3E57B-EDE0-4B5F-B8E4-C7007F147525</key>
		<dict>
			<key>xpos</key>
			<integer>1125</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>4E38D40F-5332-42CD-B968-3BC94D88D147</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>4F89FD8D-8DEF-4270-9AA4-65B8B52FFC96</key>
		<dict>
			<key>xpos</key>
			<integer>1965</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>509C22C6-E9D8-4E0C-BEFC-35641689C72C</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>56780FF5-2A43-4A5F-86DF-2EF65F651A82</key>
		<dict>
			<key>xpos</key>
			<integer>845</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>5C6D5F11-A78A-4D91-B001-A4152AE59978</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>5D9478B2-930F-4718-A388-2A6EFB3A730E</key>
		<dict>
			<key>xpos</key>
			<integer>1490</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>70B21AF6-DE42-468F-99AE-36849A79D06E</key>
		<dict>
			<key>xpos</key>
			<integer>1395</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>781EB98D-6C9B-451D-9CD7-4A7CD5871810</key>
		<dict>
			<key>xpos</key>
			<integer>1675</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>7E3FDF18-C04F-45A7-816A-C328D08046D7</key>
		<dict>
			<key>xpos</key>
			<integer>1495</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>8C339811-E326-4DC7-96D7-985F3A6DAF73</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>94BC17BC-6786-426E-8A7D-76728236C34A</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>9BDFA773-F12E-4E61-95B4-835D2EAA1B03</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>605</integer>
		</dict>
		<key>9C47C5DE-415D-4CCE-BA80-CCBFA05D7A39</key>
		<dict>
			<key>xpos</key>
			<integer>2250</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>AC404BAC-E7DB-4FAC-AF0E-BFC18A1484F2</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>655</integer>
		</dict>
		<key>BA551240-C986-4C1A-9771-F4B9B4D61C86</key>
		<dict>
			<key>xpos</key>
			<integer>1290</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>E5932703-4E5A-40E6-B7A9-237F70989335</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>E75E7071-9586-4DA6-8C84-8CD41A411A96</key>
		<dict>
			<key>xpos</key>
			<integer>1025</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>EF19F1BF-7A92-4B84-A006-D82F70A67A8E</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>F71E4CC1-FB84-4274-A3CF-AF97F7B124E2</key>
		<dict>
			<key>xpos</key>
			<integer>1050</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>FB70DC84-2238-41B7-9F7C-72472917597A</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>FC514BE3-1E46-46CF-8997-89C03C421CAB</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
